<div class="col-md-12">
  <div class="group">
    <%= link_to 'New Book', new_book_path, :class => "btn btn-primary pull-right" %>
  </div>
  <table class="table table-hover">
    <thead> 
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Price</th>
        <th>Course</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <tr data-link="<%= book_path(book) %>">
        <td><%= link_to book.name, book_path(book) %></td>
        <td><%= book.description %></td>
        <td>
          <%= image_tag(book.picture_url, :width => 200) if book.picture.present? %>
        </td>
        <td><%= book.price %></td>
        <td><%= book.course %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>
