<div class="col-md-12">
  <h1>
    <%= @book.name %>
  </h1>

  <p>
    <%= image_tag(@book.picture_url, :width => 600) if @book.picture.present? %>
  </p>

  <h4>
    <%= @book.description %>
  </h4>

  <h4 class="lead">
    <%= number_to_currency(@book.price) %>
  </h4>

  <h4>
    <%= @book.course %>
  </h4>

  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
</div>