<h1>
  <%= @book.name %>&nbsp;
</h1>

<h4>
	賣家：<%= find_seller(@book).name %><br><br>
	<% unless same_seller?(@book) %>
  	聯絡方式：
    <%= order_mail(@book) %>
    <%= render "common/fb_send" %>
  <% else %>
    <%= link_to '更新', edit_book_path(@book), :class => "btn btn-primary" %>
  <% end %>
</h4>

<h4>
  <%= simple_format(@book.description) %>
</h4>

<h4 class="lead">
  <%= number_to_currency(@book.price) %>
</h4>

<h4>
  看看同種類書籍：<%= raw @book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</h4>