<h1>
  <b><%= @book.name %>&nbsp;</b>
  <small>
    <% if @book.legal %> 正版 <% else %> 印刷品 <% end %>
    <% if @book.original %> 原文 <% else %> 中文 <% end %>
  </small>
</h1>

<h4>
	賣家：<%= find_seller(@book).name %><br><br>
	<% unless same_seller?(@book) %>
  	聯絡方式：
    <%= order_mail(@book) %>
    <%= render "common/fb_send" %>
  <% else %>
    <%= link_to '更新', edit_book_path(@book), :class => "btn btn-warning" %>
  <% end %>
</h4>

<h4 class="lead">
  <%= simple_format(@book.description) %>
</h4>

<h3 class="text-danger">
  <%= number_to_currency(@book.price) %>
</h3>

<h4>
  看看同種類書籍：<%= raw @book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</h4>