<h1>
  <%= @book.name %>&nbsp;

  <% unless same_author?(@book) %>
    <%= order_mail(@book) %>
    <div class="fb-send" data-href="https://developers.facebook.com/docs/plugins/" data-colorscheme="dark"></div>
  <% end %>
</h1>

<h4>
  <%= simple_format(@book.description) %>
</h4>

<h4 class="lead">
  <%= number_to_currency(@book.price) %>
</h4>

<h4>
  看看同種類書籍：<%= raw @book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</h4>