<!DOCTYPE html>
<html>
<head>
  <title>資財二手書</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<div class="container-fluid">
  <%= render "common/navbar" %>
  <%= notice_message  %>
  <%= yield %>
</div>
	<%= render "common/footer" %>

</body>
</html>
